$color-primary: #0070f3;


.buttonsContainer {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: "#2edee2";
    font-size: 1.8em;
    margin: 8px 0;
}